.width-img {
  width: 50%;
  height: 250px;
  object-fit: cover;
}

.center-btn{
  width: 20%;
  margin:1em auto
}
.center-spinner{
  width: 100%;
  margin:2em auto;
  
}
.h2{
  color:white
}

@media (max-width: 1000px) {
  .width-img {
    height: 450px;
    object-fit: cover;
  }
}
@media (max-width: 700px) {
  .row {
    margin: 0 1em;
  }
}

@media (max-width: 440px) {
  .width-img {
    width: 60%;
  }
  .row {
    margin: 0;
  }
}
