

.config-form {
  color: rgb(169, 169, 169);    
  width: 70%;
  margin:0 auto;
}

@media (max-width:1200px){
    .config-form{
        width: 100%
    }
}


@media (max-width:580px){
    .config-form{
        width: 90%
    }
}