section{
    width: 40%;
    margin:0 auto;
    margin-bottom: 3em;
}

@media (max-width:1100px){
    section{
        width: 50%
    }
}
@media (max-width:700px){
    section{
        width: 60%
    }
}
@media (max-width:580px){
    section{
        width: 80%
    }
}