nav{
    
    margin: 15px
}
.nav-btn{
    margin-left:10px;
    margin-top: 8px;
}
@media (max-width: 768px) {
    .nav-btn{
        margin:10px auto;
        display: block;
        width: 50%;
    }
  }