

.p {
    color:white;
    font-size:1.3em
}
.h1{
    color:white;
}
.owner{
    color:white
}
.image-detail{
    width: 70%;
    display:block;
    margin:1em auto
}
.config-modal-update{
    background-color: black;
    border:1px solid white;
    border-radius:5px
}